@font-face{
    font-family: 'Poppins';
    src: url('./Poppins/Poppins-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.main-container{
    background-color: rgba(177, 214, 144,0.4);
}

.container:not(#header){
    padding: 10px;
}
#header .container{
    max-width: 900px;
    margin: auto;
    border: 5px solid white;
    display: flex;
    align-items: center;
    background-color: #88C273;
    color: #001F3F;
    border-radius: 15px;
}

#header .container:hover{
    box-shadow: -15px 15px 5px;
    transition-duration: 1s;
}

#header .container .content{
    flex-basis: 60%;
    text-align: center;
    line-height: 25px;
}

#header .container .content h4{
    letter-spacing: 5px;
    text-shadow: -2px -2px 4px;
    font-size: 20px;
}

#header .container .content h4,
#header .container .content h1,
#header .container .content p{
    margin-bottom: 20px;
}

#header .container .image-div{
    flex-basis: 40%;
}

#header .container .image-div img{
    width: 100%;
}

.social-icons a{
    margin-right: 20px;
    font-size: 30px;
}

.social-icons a:hover{
    font-size: 40px;
    transition-duration: 0.5s;
    text-shadow: -2px 2px 3px;
}

.social-icons a:nth-child(1){
    color: red;
}

.social-icons a:nth-child(2){
    color: rgb(216, 37, 67);
}

.social-icons a:nth-child(3){
    color: blue;
}

/* about me css */
#aboutme{
    color: #001F3F;
}

.section-title{
    text-align: center;
    margin-bottom: 20px;
}

#aboutme{
    margin-top: 50px;
}

#aboutme .container{
    max-width: 900px;
    margin: auto;
    display: flex;
}

#aboutme .container >div{
    flex-basis: 50%;
}

#aboutme .image-div img{
    width: 100%;
    height: 80%;
    border-radius: 50%;
}

#aboutme h2{
    color: #001F3F;
    line-height: 50px;
}

#aboutme h2:first-child{
    text-shadow: -2px -2px 4px;
}

#aboutme .content{
    padding: 50px 40px;
}

/* My skills */
#myskills{
    color: #001F3F;
}
#myskills h1{
    margin-top: 30px;
}

#myskills h2{
    text-align: center;
    padding: 30px 0;
}

#myskills .container{
    max-width: 900px;
    margin: auto;
    display: flex;
}

#myskills .content ul{
    list-style-type: none;
}

#myskills .content ul>li{
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    background-color: #88C273; 
    margin: 10px;
    font-weight: bold;
}

#myskills h2{
    margin-bottom: 30px 20px 0 0;
}

#myskills .container >div{
    flex-basis: 50%;
}

#myskills .image-div img{
    width: 100%;
    padding: 200px 0;
    border-radius: 15px;
    
}

/* myworks */
#myworks{
    color: #001F3F;
}
#myworks .container{
        max-width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-around;
}

#myworks .container .card{
    color: #001F3F;
    flex-basis: 30%;
    background-color: #88C273;
    padding: 20px 10px;
    text-align: center;
    border-radius: 20px;
}

#myworks .container .card{
    box-shadow: -10px 20px 8px;
}

#myworks .container .card h3{
    margin: 20px 0;
}

#myworks .container .card i{
    font-size: 30px;
}

/* contactme */
#contactme{
    color: #001F3F;
    margin-top: 30px;
}

#contactme .container{
    max-width: 900px;
    margin: auto;
    display: flex;
}

#contactme .container div{
    flex-basis: 50%;
}

#contactme ul{
    list-style-type: none;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

#contactme .form .form-group{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

#contactme .form .form-group input{
    flex-basis: 49%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

#contactme .form .textarea{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

#contactme .form button{
    padding: 7px 30px;
    border-radius: 5px;
    border: none;
    float: right;
    background-color: rgba(136, 194, 115);
}

/* footer section */
footer{
    background-color: #88C273;
    color: #001F3F;
    margin-top: 15px;
}

#column .container{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 50px 0;
}

#column .container .card{
    flex-basis: 30%;
    line-height: 35px;
    text-align: center;
}

#column .container .social-icons{
    padding-left: 20px;
}

#column h3{
    margin-bottom: 20px;
}

#column .container .card ul{
    list-style-type: none;
}

#column .container .card li a{
    color: #001F3F;
    text-decoration: none;
}

#gototop{
    display: block;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    position: fixed;
    bottom: 10px;
    right: 0;
}

@media (max-width: 600px){
    .container{
        flex-direction: column;
    }

    #header .container{
        flex-direction: column-reverse;
        border: none;
        border-radius: 0;
    }

    #aboutme .container{
        text-align: center;
    }

    #aboutme .container .image-div{
        width: 100%;
    }

    #myworks .container .card{
        margin: 15px 20px;
        width: 90%;
    }

    #contactme .container{
        flex-direction: column;
    }

    #contactme .form .form-group{
        flex-direction: column;
    }

    #contactme .form .form-group input{
        margin-bottom: 10px;
    }
    
    #contactme .container div:first-child{
        margin: auto;
    }

    #myskills .container .content ul>li{
        font-size: 12px;
        margin:5px;
    }
}